*~
nginx*/
x86_64/
.*.log
*swp
*.rpm
/nginx-1.0.14.tar.gz
/nginx-1.0.15.tar.gz
/nginx-1.2.0.tar.gz
/nginx-1.2.1.tar.gz
/nginx-1.2.3.tar.gz
/nginx-1.2.4.tar.gz
/nginx-1.2.5.tar.gz
/nginx-1.2.6.tar.gz
/nginx-1.2.7.tar.gz
/nginx-1.2.7.tar.gz.asc
/nginx-1.2.8.tar.gz
/nginx-1.2.8.tar.gz.asc
/nginx-1.4.0.tar.gz
/nginx-1.4.0.tar.gz.asc
/nginx-1.4.1.tar.gz
/nginx-1.4.1.tar.gz.asc
/nginx-1.4.2.tar.gz
/nginx-1.4.2.tar.gz.asc
/nginx-1.4.3.tar.gz
/nginx-1.4.3.tar.gz.asc
/nginx-1.4.4.tar.gz
/nginx-1.4.4.tar.gz.asc
